@import './reset.css';

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/Playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}

.link-nav {
  font-family: 'Roboto Bold';
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: #232323;
} 

.block {
  display: block;
}

.none {
  display: none !important;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  top: 55px;
  left: 50%;
}

body {
  --primary-color: #c1ad89;
}

h1 {
  font-size: 36px;
  font-family: "Poppins Semi Bold";
}

h3 {
    font-family: "Roboto Bold";
    font-size: 50px;
    color: rgb(51, 51, 51);
    opacity: 0.4;    
    position: relative;
    top: -25px;
    background-image: -webkit-linear-gradient(bottom, #a5a5a5, #c1ad89);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

h4 {
  font-family: "Poppins Semi Bold";
    font-size: 20px;
    letter-spacing: 2px;
}

.card-step-items h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 20px;
  height: 65px;
}

.card-step-items img {
  margin-top: 10px;
}

.margin-left-right {
  padding-left: 15px;
  padding-right: 15px;
}

.double-titles {
  margin-top: 70px;
  margin-bottom: 30px;
}

.double-titles-line {
  border-bottom: 1px solid #c1ad89;
  width: 100px;
}

.double-titles h2 {
  position: absolute;
  font-family: "Playfair Display Italic";
  font-size: 25px;
  background-image: -webkit-linear-gradient(left, #c1ad89, #a5a5a5);
  background-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #c1ad89;
}

.double-titles h2 span {
  font-family: "Poppins Regular"
}

.one-line {
  margin-bottom: 0px;
  margin-top: 100px;
}

.methodology h3 {
  left: 7%;
}

.methodology {
  margin-bottom: 0px;
}

p {
  font-family: "Roboto Regular";
  font-size: 15px;
  line-height: 1.4;
  text-align: justify;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



footer {
  font-family: "Roboto Regular";
  text-align: center;
  height: 150px;
  padding: 20px;
  background: #232323;
  color: #F3F3F3;
  line-height: 29px;
  
}

.header-logo {
  width: 150px;
}

.hero-background {
  background: url('../images/home-background.jpeg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
}

.hero-block-texts {
  background: rgba(255, 255, 255, 0.30);
  padding: 30px;
  width: 80%;
}

.hero-block-texts h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-block-texts p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero-block-texts button {
  margin-bottom: 20px;
}

.button {
  border: none;
  height: 30px;
  width: 2250px;
  color: #F3F3F3;
  background: var(--primary-color);
  border-radius: 30px;
  font-family: "Poppins Semi Bold";
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.801);
    top: 100px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    z-index: 10;
}

.schema1 {
  width: 100%;
  margin-top: 30px;
}

.item img {
  width:200px;
}

.title-methodology {
  left: 85px;
}

.logo-step {
  width: 100px;
}

.card-step {
  border: 1px solid #C1AD89;
  padding: 10px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 15px;
  background: #FFFCFC;
  width: 85%;
  line-height: 15px;
  margin: auto;
  margin-top: 70px;
  height: 500px;
}

.card-step span {
  position: absolute;
  top: -8px;
  left: 44%;
  font-size: 60px;
}

.card-step div {
  display: flex;
  flex-direction: column;
  align-items: center;
  
    justify-content: space-around;
    height: 90%;
}

.card-step div img{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30% !important;
}

.card-step div p{
  margin-top: 20px;
  margin-bottom: 10px;
}

.step-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.step-question label {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Poppins Semi Bold";
  font-size: 25px;
  text-align: center;
}

.step-question select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins Semi Bold";
  font-size: 25px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}

.step-overflow {
  margin-bottom:200px
}

.rounded-right {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background:rgb(51, 51, 51);
  padding: 10px;
  border-radius: 20px;
  z-index: 10;
}

.rounded-right a {
  text-decoration: none;
  font-family: "Poppins Semi Bold";
  text-transform: uppercase;
  color:white !important;
}